.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 960px;
}
.blank{
  height: 30px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
.button{
  background-color: black;
  box-shadow: none;
  color: #eaeaea;
  border-radius: 25px;
  padding: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.navbar{
  background-color: #7D9D9C;
  padding: 1rem 0;
  color: white;
}
.Style_header{
  font-family: "Mitr",sans-serif;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #000;
  margin-top: 100px;
}
.Style_header2{
  font-family: "Mitr",sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #798777;
  margin-top: 100px;
  
}.Style_topic{
  font-family: "Mitr",sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #000;
  margin-bottom: 40px;
  line-height: 30px;
  text-decoration: underline;
  margin-top: 40px;
}
.Style_Q{
  font-family: "Mitr",sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}
.Style_line {
  border-bottom: 1px solid #e2e2e2;
  margin-top: 16px;
  margin-bottom: 36px;
}
.Style_liner {
  border-bottom: 4px solid #fdc453;
  margin-top: 16px;
  margin-bottom: 36px;
  width: 250px;
}
.Style_ans{
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 18px;
}
.box_map {
  width: 400px;
  height: 300px;
  
}
.animation_ans{
  animation-fill-mode: both;
  animation-duration: 100ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: react-reveal-979027133669212-3;
}